<p> Main page </p>

<h2> Welcome to Blogs Api </h2>

<% if session[:token] == nil %>
    <%= link_to 'Login', new_session_path %>

<% end %>

<% if @body.empty? == false %>
  <% @body["data"].each do |blog| %>
    <table>
      <tr>
        <th> Title </th>
        <th> Body </th>
      </tr>
      <tr>
        <td> <%= blog["attributes"]["title"] %></td>
        <td> <%= blog["attributes"]["body"] %> </td>
      </tr>
    </table>
  <% end %>
<% end %>

